In [16]:
import pandas as pd

In [17]:
data=pd.read_csv(r"C:\Users\91903\Downloads\playground-series-s4e11\train.csv")

In [18]:
data

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,0,Aaradhya,Female,49,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,BHM,No,1,2.0,No,0
1,1,Vivan,Male,26,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,NaN,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7,3.0,No,1
2,2,Yuvraj,Male,33,Visakhapatnam,Student,NaN,5.0,NaN,8.97,2.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3,1.0,No,1
3,3,Yuvraj,Male,22,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10,1.0,Yes,1
4,4,Rhea,Female,30,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9,4.0,Yes,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140695,140695,Vidya,Female,18,Ahmedabad,Working Professional,NaN,NaN,5.0,NaN,NaN,4.0,5-6 hours,Unhealthy,Class 12,No,2,4.0,Yes,1
140696,140696,Lata,Female,41,Hyderabad,Working Professional,Content Writer,NaN,5.0,NaN,NaN,4.0,7-8 hours,Moderate,B.Tech,Yes,6,5.0,Yes,0
140697,140697,Aanchal,Female,24,Kolkata,Working Professional,Marketing Manager,NaN,3.0,NaN,NaN,1.0,More than 8 hours,Moderate,B.Com,No,4,4.0,No,0
140698,140698,Prachi,Female,49,Srinagar,Working Professional,Plumber,NaN,5.0,NaN,NaN,2.0,5-6 hours,Moderate,ME,Yes,10,1.0,No,0
140699,140699,Sai,Male,27,Patna,Student,NaN,4.0,NaN,9.24,1.0,NaN,Less than 5 hours,Healthy,BCA,Yes,2,3.0,Yes,1

In [19]:
data.head()

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,0,Aaradhya,Female,49,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,BHM,No,1,2.0,No,0
1,1,Vivan,Male,26,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,NaN,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7,3.0,No,1
2,2,Yuvraj,Male,33,Visakhapatnam,Student,NaN,5.0,NaN,8.97,2.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3,1.0,No,1
3,3,Yuvraj,Male,22,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10,1.0,Yes,1
4,4,Rhea,Female,30,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9,4.0,Yes,0

In [20]:
data["Gender"].value_counts()

Male      77464
Female    63236
Name: Gender, dtype: int64

In [21]:
data['Gender_Numeric']=data['Gender'].map({"Male": 1, "Female": 0})

In [22]:
data["Gender_Numeric"]

0         0
1         1
2         1
3         1
4         0
         ..
140695    0
140696    0
140697    0
140698    0
140699    1
Name: Gender_Numeric, Length: 140700, dtype: int64

In [23]:
data.head()

,id,Name,Gender,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,...,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Gender_Numeric
0,0,Aaradhya,Female,49,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,...,2.0,More than 8 hours,Healthy,BHM,No,1,2.0,No,0,0
1,1,Vivan,Male,26,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,...,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7,3.0,No,1,1
2,2,Yuvraj,Male,33,Visakhapatnam,Student,NaN,5.0,NaN,8.97,...,NaN,5-6 hours,Healthy,B.Pharm,Yes,3,1.0,No,1,1
3,3,Yuvraj,Male,22,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,...,1.0,Less than 5 hours,Moderate,BBA,Yes,10,1.0,Yes,1,1
4,4,Rhea,Female,30,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,...,1.0,5-6 hours,Unhealthy,BBA,Yes,9,4.0,Yes,0,0

In [24]:
data.drop(columns=["Gender"], inplace=True)

In [25]:
data

,id,Name,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Gender_Numeric
0,0,Aaradhya,49,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,BHM,No,1,2.0,No,0,0
1,1,Vivan,26,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,NaN,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7,3.0,No,1,1
2,2,Yuvraj,33,Visakhapatnam,Student,NaN,5.0,NaN,8.97,2.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3,1.0,No,1,1
3,3,Yuvraj,22,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10,1.0,Yes,1,1
4,4,Rhea,30,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9,4.0,Yes,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140695,140695,Vidya,18,Ahmedabad,Working Professional,NaN,NaN,5.0,NaN,NaN,4.0,5-6 hours,Unhealthy,Class 12,No,2,4.0,Yes,1,0
140696,140696,Lata,41,Hyderabad,Working Professional,Content Writer,NaN,5.0,NaN,NaN,4.0,7-8 hours,Moderate,B.Tech,Yes,6,5.0,Yes,0,0
140697,140697,Aanchal,24,Kolkata,Working Professional,Marketing Manager,NaN,3.0,NaN,NaN,1.0,More than 8 hours,Moderate,B.Com,No,4,4.0,No,0,0
140698,140698,Prachi,49,Srinagar,Working Professional,Plumber,NaN,5.0,NaN,NaN,2.0,5-6 hours,Moderate,ME,Yes,10,1.0,No,0,0
140699,140699,Sai,27,Patna,Student,NaN,4.0,NaN,9.24,1.0,NaN,Less than 5 hours,Healthy,BCA,Yes,2,3.0,Yes,1,1

In [26]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [28]:
scaler=MinMaxScaler()
data["Age_Normalized"]=scaler.fit_transform(data["Age"].values.reshape(-1,1))

In [29]:
data.head()

,id,Name,Age,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,...,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Gender_Numeric,Age_Normalized
0,0,Aaradhya,49,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,NaN,...,More than 8 hours,Healthy,BHM,No,1,2.0,No,0,0,0.738095
1,1,Vivan,26,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,NaN,...,Less than 5 hours,Unhealthy,LLB,Yes,7,3.0,No,1,1,0.190476
2,2,Yuvraj,33,Visakhapatnam,Student,NaN,5.0,NaN,8.97,2.0,...,5-6 hours,Healthy,B.Pharm,Yes,3,1.0,No,1,1,0.357143
3,3,Yuvraj,22,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,NaN,...,Less than 5 hours,Moderate,BBA,Yes,10,1.0,Yes,1,1,0.095238
4,4,Rhea,30,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,NaN,...,5-6 hours,Unhealthy,BBA,Yes,9,4.0,Yes,0,0,0.285714

In [30]:
data.drop(columns=["Age"], inplace=True)

In [31]:
data.head()

,id,Name,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Gender_Numeric,Age_Normalized
0,0,Aaradhya,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,BHM,No,1,2.0,No,0,0,0.738095
1,1,Vivan,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,NaN,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7,3.0,No,1,1,0.190476
2,2,Yuvraj,Visakhapatnam,Student,NaN,5.0,NaN,8.97,2.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3,1.0,No,1,1,0.357143
3,3,Yuvraj,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10,1.0,Yes,1,1,0.095238
4,4,Rhea,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9,4.0,Yes,0,0,0.285714

In [40]:
data["City"].nunique()

98

In [41]:
data["City"].unique()

array(['Ludhiana', 'Varanasi', 'Visakhapatnam', 'Mumbai', 'Kanpur',
       'Ahmedabad', 'Thane', 'Nashik', 'Bangalore', 'Patna', 'Rajkot',
       'Jaipur', 'Pune', 'Lucknow', 'Meerut', 'Agra', 'Surat',
       'Faridabad', 'Hyderabad', 'Srinagar', 'Ghaziabad', 'Kolkata',
       'Chennai', 'Kalyan', 'Nagpur', 'Vadodara', 'Vasai-Virar', 'Delhi',
       'Bhopal', 'Indore', 'Ishanabad', 'Vidhi', 'Ayush', 'Gurgaon',
       'Krishna', 'Aishwarya', 'Keshav', 'Harsha', 'Nalini', 'Aditya',
       'Malyansh', 'Raghavendra', 'Saanvi', 'M.Tech', 'Bhavna',
       'Less Delhi', 'Nandini', 'M.Com', 'Plata', 'Atharv', 'Pratyush',
       'City', '3', 'Less than 5 Kalyan', 'MCA', 'Mira', 'Moreadhyay',
       'Morena', 'Ishkarsh', 'Kashk', 'Mihir', 'Vidya', 'Tolkata', 'Anvi',
       'Krinda', 'Ayansh', 'Shrey', 'Ivaan', 'Vaanya', 'Gaurav', 'Harsh',
       'Reyansh', 'Kashish', 'Kibara', 'Vaishnavi', 'Chhavi', 'Parth',
       'Mahi', 'Tushar', 'MSc', 'No', 'Rashi', 'ME', 'Molkata',
       'Researcher', 'Kagan', 'Armaan', 'Ithal', 'Nalyan', 'Dhruv',
       'Galesabad', 'Itheg', 'Aaradhya', 'Pooja', 'Khushi', 'Khaziabad',
       'Jhanvi', 'Unirar'], dtype=object)

In [43]:
data["Working Professional or Student"].value_counts()

Working Professional    112799
Student                  27901
Name: Working Professional or Student, dtype: int64

In [45]:
data["Profession"].isnull().sum()

36630

In [46]:
data["Profession"]=data["Profession"].fillna('Student')

In [48]:
data.head()

,id,Name,City,Working Professional or Student,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,...,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Gender_Numeric,Age_Normalized,City_Numeric
0,0,Aaradhya,Ludhiana,Working Professional,Chef,NaN,5.0,NaN,NaN,2.0,...,Healthy,BHM,No,1,2.0,No,0,0,0.738095,50
1,1,Vivan,Varanasi,Working Professional,Teacher,NaN,4.0,NaN,NaN,3.0,...,Unhealthy,LLB,Yes,7,3.0,No,1,1,0.190476,93
2,2,Yuvraj,Visakhapatnam,Student,Student,5.0,NaN,8.97,2.0,NaN,...,Healthy,B.Pharm,Yes,3,1.0,No,1,1,0.357143,97
3,3,Yuvraj,Mumbai,Working Professional,Teacher,NaN,5.0,NaN,NaN,1.0,...,Moderate,BBA,Yes,10,1.0,Yes,1,1,0.095238,64
4,4,Rhea,Kanpur,Working Professional,Business Analyst,NaN,1.0,NaN,NaN,1.0,...,Unhealthy,BBA,Yes,9,4.0,Yes,0,0,0.285714,37

In [49]:
data.drop(columns=["Working Professional or Student"], inplace=True)

In [50]:
data.head()

,id,Name,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Gender_Numeric,Age_Normalized,City_Numeric
0,0,Aaradhya,Ludhiana,Chef,NaN,5.0,NaN,NaN,2.0,More than 8 hours,Healthy,BHM,No,1,2.0,No,0,0,0.738095,50
1,1,Vivan,Varanasi,Teacher,NaN,4.0,NaN,NaN,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7,3.0,No,1,1,0.190476,93
2,2,Yuvraj,Visakhapatnam,Student,5.0,NaN,8.97,2.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3,1.0,No,1,1,0.357143,97
3,3,Yuvraj,Mumbai,Teacher,NaN,5.0,NaN,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10,1.0,Yes,1,1,0.095238,64
4,4,Rhea,Kanpur,Business Analyst,NaN,1.0,NaN,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9,4.0,Yes,0,0,0.285714,37

In [51]:
data["Academic_Work_Pressure"]=data["Academic Pressure"].fillna(data["Work Pressure"])

In [52]:
data.head()

,id,Name,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,...,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Gender_Numeric,Age_Normalized,City_Numeric,Academic_Work_Pressure
0,0,Aaradhya,Ludhiana,Chef,NaN,5.0,NaN,NaN,2.0,More than 8 hours,...,BHM,No,1,2.0,No,0,0,0.738095,50,5.0
1,1,Vivan,Varanasi,Teacher,NaN,4.0,NaN,NaN,3.0,Less than 5 hours,...,LLB,Yes,7,3.0,No,1,1,0.190476,93,4.0
2,2,Yuvraj,Visakhapatnam,Student,5.0,NaN,8.97,2.0,NaN,5-6 hours,...,B.Pharm,Yes,3,1.0,No,1,1,0.357143,97,5.0
3,3,Yuvraj,Mumbai,Teacher,NaN,5.0,NaN,NaN,1.0,Less than 5 hours,...,BBA,Yes,10,1.0,Yes,1,1,0.095238,64,5.0
4,4,Rhea,Kanpur,Business Analyst,NaN,1.0,NaN,NaN,1.0,5-6 hours,...,BBA,Yes,9,4.0,Yes,0,0,0.285714,37,1.0

In [53]:
data.drop(columns=["Academic Pressure"], inplace=True)
data.drop(columns=["Work Pressure"], inplace=True)

In [54]:
data.head()

,id,Name,City,Profession,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Gender_Numeric,Age_Normalized,City_Numeric,Academic_Work_Pressure
0,0,Aaradhya,Ludhiana,Chef,NaN,NaN,2.0,More than 8 hours,Healthy,BHM,No,1,2.0,No,0,0,0.738095,50,5.0
1,1,Vivan,Varanasi,Teacher,NaN,NaN,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7,3.0,No,1,1,0.190476,93,4.0
2,2,Yuvraj,Visakhapatnam,Student,8.97,2.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3,1.0,No,1,1,0.357143,97,5.0
3,3,Yuvraj,Mumbai,Teacher,NaN,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10,1.0,Yes,1,1,0.095238,64,5.0
4,4,Rhea,Kanpur,Business Analyst,NaN,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9,4.0,Yes,0,0,0.285714,37,1.0

In [55]:
data["Job_Study_Satisfaction"]=data["Study Satisfaction"].fillna(data["Job Satisfaction"])

In [56]:
data.head()

,id,Name,City,Profession,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Gender_Numeric,Age_Normalized,City_Numeric,Academic_Work_Pressure,Job_Study_Satisfaction
0,0,Aaradhya,Ludhiana,Chef,NaN,NaN,2.0,More than 8 hours,Healthy,BHM,No,1,2.0,No,0,0,0.738095,50,5.0,2.0
1,1,Vivan,Varanasi,Teacher,NaN,NaN,3.0,Less than 5 hours,Unhealthy,LLB,Yes,7,3.0,No,1,1,0.190476,93,4.0,3.0
2,2,Yuvraj,Visakhapatnam,Student,8.97,2.0,NaN,5-6 hours,Healthy,B.Pharm,Yes,3,1.0,No,1,1,0.357143,97,5.0,2.0
3,3,Yuvraj,Mumbai,Teacher,NaN,NaN,1.0,Less than 5 hours,Moderate,BBA,Yes,10,1.0,Yes,1,1,0.095238,64,5.0,1.0
4,4,Rhea,Kanpur,Business Analyst,NaN,NaN,1.0,5-6 hours,Unhealthy,BBA,Yes,9,4.0,Yes,0,0,0.285714,37,1.0,1.0

In [57]:
data.drop(columns=["Study Satisfaction"], inplace=True)
data.drop(columns=["Job Satisfaction"], inplace=True)

In [58]:
data.head()

,id,Name,City,Profession,CGPA,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Gender_Numeric,Age_Normalized,City_Numeric,Academic_Work_Pressure,Job_Study_Satisfaction
0,0,Aaradhya,Ludhiana,Chef,NaN,More than 8 hours,Healthy,BHM,No,1,2.0,No,0,0,0.738095,50,5.0,2.0
1,1,Vivan,Varanasi,Teacher,NaN,Less than 5 hours,Unhealthy,LLB,Yes,7,3.0,No,1,1,0.190476,93,4.0,3.0
2,2,Yuvraj,Visakhapatnam,Student,8.97,5-6 hours,Healthy,B.Pharm,Yes,3,1.0,No,1,1,0.357143,97,5.0,2.0
3,3,Yuvraj,Mumbai,Teacher,NaN,Less than 5 hours,Moderate,BBA,Yes,10,1.0,Yes,1,1,0.095238,64,5.0,1.0
4,4,Rhea,Kanpur,Business Analyst,NaN,5-6 hours,Unhealthy,BBA,Yes,9,4.0,Yes,0,0,0.285714,37,1.0,1.0

In [59]:
data['Have you ever had suicidal thoughts ?']=data['Have you ever had suicidal thoughts ?'].map({"Yes": 1, "No": 0})

In [60]:
data.head()

,id,Name,City,Profession,CGPA,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Gender_Numeric,Age_Normalized,City_Numeric,Academic_Work_Pressure,Job_Study_Satisfaction
0,0,Aaradhya,Ludhiana,Chef,NaN,More than 8 hours,Healthy,BHM,0,1,2.0,No,0,0,0.738095,50,5.0,2.0
1,1,Vivan,Varanasi,Teacher,NaN,Less than 5 hours,Unhealthy,LLB,1,7,3.0,No,1,1,0.190476,93,4.0,3.0
2,2,Yuvraj,Visakhapatnam,Student,8.97,5-6 hours,Healthy,B.Pharm,1,3,1.0,No,1,1,0.357143,97,5.0,2.0
3,3,Yuvraj,Mumbai,Teacher,NaN,Less than 5 hours,Moderate,BBA,1,10,1.0,Yes,1,1,0.095238,64,5.0,1.0
4,4,Rhea,Kanpur,Business Analyst,NaN,5-6 hours,Unhealthy,BBA,1,9,4.0,Yes,0,0,0.285714,37,1.0,1.0

In [61]:
data["Family History of Mental Illness"].value_counts()

No     70758
Yes    69942
Name: Family History of Mental Illness, dtype: int64

In [62]:
data['Family History of Mental Illness']=data['Family History of Mental Illness'].map({"Yes": 1, "No": 0})

In [63]:
data.head()

,id,Name,City,Profession,CGPA,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression,Gender_Numeric,Age_Normalized,City_Numeric,Academic_Work_Pressure,Job_Study_Satisfaction
0,0,Aaradhya,Ludhiana,Chef,NaN,More than 8 hours,Healthy,BHM,0,1,2.0,0,0,0,0.738095,50,5.0,2.0
1,1,Vivan,Varanasi,Teacher,NaN,Less than 5 hours,Unhealthy,LLB,1,7,3.0,0,1,1,0.190476,93,4.0,3.0
2,2,Yuvraj,Visakhapatnam,Student,8.97,5-6 hours,Healthy,B.Pharm,1,3,1.0,0,1,1,0.357143,97,5.0,2.0
3,3,Yuvraj,Mumbai,Teacher,NaN,Less than 5 hours,Moderate,BBA,1,10,1.0,1,1,1,0.095238,64,5.0,1.0
4,4,Rhea,Kanpur,Business Analyst,NaN,5-6 hours,Unhealthy,BBA,1,9,4.0,1,0,0,0.285714,37,1.0,1.0

In [67]:
data["Dietary Habits"].value_counts()

Moderate             49705
Unhealthy            46227
Healthy              44741
Yes                      2
No                       2
More Healthy             2
No Healthy               1
Class 12                 1
Indoor                   1
Male                     1
Vegas                    1
M.Tech                   1
Less Healthy             1
1                        1
Electrician              1
Hormonal                 1
Mihir                    1
Less than Healthy        1
3                        1
Gender                   1
BSc                      1
Pratham                  1
2                        1
Name: Dietary Habits, dtype: int64

In [68]:
data["Degree"].value_counts()

Class 12    14729
B.Ed        11691
B.Arch       8742
B.Com        8113
B.Pharm      5856
            ...
Vivaan          1
MTech           1
29              1
LLCom           1
Advait          1
Name: Degree, Length: 115, dtype: int64

In [69]:
data["Sleep Duration"].value_counts()

Less than 5 hours    38784
7-8 hours            36969
More than 8 hours    32726
5-6 hours            32142
3-4 hours               12
6-7 hours                8
4-5 hours                7
2-3 hours                5
4-6 hours                5
6-8 hours                4
1-6 hours                4
No                       4
9-11 hours               2
10-11 hours              2
Sleep_Duration           2
Unhealthy                2
45                       2
8-9 hours                2
10-6 hours               1
09-May                   1
45-48 hours              1
3-6 hours                1
Work_Study_Hours         1
49 hours                 1
than 5 hours             1
Pune                     1
9-6 hours                1
8 hours                  1
35-36 hours              1
Indore                   1
1-3 hours                1
55-66 hours              1
Moderate                 1
40-45 hours              1
1-2 hours                1
9-5 hours                1
Name: Sleep Duration, dtype: int64